body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

nav {
  background-color: white;
}

.ana-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-sol,
.navbar-orta,
.navbar-sag {
  display: flex;
  align-items: center;
}

.navbar-sol a,
.navbar-orta a,
.navbar-sag a {
  color: #333;
  /* Adjust the color to your preference */
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  /* Added */
}

.navbar-sol a:hover,
.navbar-orta a:hover,
.navbar-sag a:hover {
  background-color: #ddd;
  /* Adjust the background color on hover */
}

.nav-logo {
  width: 150px;
  /* Adjust the logo size as needed */
}

.fa-regular,
.fa-solid {
  margin-right: 5px;
  font-size: 1.5rem;
}

#kısım-bir {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: url(./resimler/1600.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: rgb(136, 23, 23);
  display: flex;
  justify-content: center;
  font-family: "Rowdies", sans-serif;
  font-size: 50px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay h1 {
  text-align: center;
}

#kısım-bir {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: url(./resimler/1600.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: rgb(136, 23, 23);
  display: flex;
  justify-content: center;
  font-family: "Rowdies", sans-serif;
  font-size: 50px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay h1 {
  text-align: center;
}

.button {
  text-align: center;
  margin-top: 35%;
  /* İstenilen mesafeye göre ayarlayabilirsiniz */
}

.btn {
  padding: 12px 24px;
  font-size: 18px;
  border: 2px solid #ff0000;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #000000;
  border: 2px solid #000000;
  color: #ffffff;
}